[submodule "src/external/sdl"]
	path = src/external/sdl
	url = https://github.com/libsdl-org/SDL.git
[submodule "src/external/glfw"]
	path = src/external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "src/external/stb"]
	path = src/external/stb
	url = https://github.com/nothings/stb.git
[submodule "src/external/djgpp"]
	path = src/external/djgpp
	url = https://github.com/jwt27/djgpp-cvs.git
